/* Universal Styles */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* Header */

header {
  display: flex;
  /*position: fixed;*/
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: white;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.logo {
  font-size: 2rem;
}

.logotexttwo {
  color: grey;
}

.navheader {
  font-size: 1.2rem;
}

.navheader span {
  margin-left: 1rem;
}

/* Section One */

.section-one {
  display: flex;
  align-items: center;
  background-color: grey;
  width: 100%;
}

.section-one img {
  width: 60%;
  height: auto;
  padding: 2rem 1.5rem;
}

.sectiononetext {
  width: 40%;
  padding-left: 1.5rem;
}

.sectiononetext h1 {
  font-size: 2rem;
  font-weight: bolder;
  padding: 0.25rem;
}

.sectiononetext h2 {
  padding: 0.25rem;
}

.start {
  background-color: black;
  color: white;
  width: 48%;
  height: auto;
  padding: 0.5rem 0.5rem;
  text-align: center;
}

/* Begin Section Two */

/*.section-two-containter {
  display: flex;
}*/

.section-two img {
  width: 60%;
  height: auto;
  padding: 2rem 1.5rem;
}

.sectiontwotext h1 {
  font-size: 2rem;
  font-weight: bolder;
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
}

.sectiontwotext h2 {
  padding-left: 1.5rem;
}

.sectiontwotext p {
  padding: 2rem 1.5rem;
}

.secton-two-right {
  display: flex;
  justify-content: center;
  background-color: grey;
  width: 40%;
}

.secton-two-right img {
  width: 35%;
  height: auto;
}

.sectiontwotext-right {
  width: 65%;
}

.sectiontwotext-right a {
  color: blue;
}

/* Begin Section Three */

/*.section-three {
  display: flex;
  flex-flow: wrap;
  width: 100%;
}*/

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: 4rem;
  margin-top: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.footernav span {
  margin-left: 1rem;
}
